@use "./abstracts/" as *;
@use "./base/" as *;
@use "./components/" as *;
@use "./layout/" as *;
@use "./utilities/" as *;

// General rules
body {
    text-align: center;

    > * {
        @include grid;

        grid-template-columns: subgrid;
        grid-column: full-width;
    }
}

.h2 {
    &--header {
        font: {
            size: var(--fs-header-heading);
        }
    }
}

.header,
.main,
.footer {
    > * {
        grid-column: breakout;
    }
}

.header {
    --spacing: 1.25rem;

    padding-block: var(--spacing) 2rem;
    background-color: hsl(var(--bgc-header));
    background-image: url("../../images/bg-hero-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;

    &--text {
        font: {
            size: var(--fs-header-text);
        }
    }
    
    // > * {
    //     grid-column: breakout;
    // }

    @include min-query("s") {
        background-image: url("../../images/bg-hero-desktop.svg");
    }
}

.main {
    row-gap: 2rem;
    padding-top: 4rem;
}

.footer {
    text-align: left;
    color: hsl(var(--c-footer));
    background-color: hsl(var(--bgc-footer));

    > :where(:not(:first-child)) {
        margin-top: 3.5rem;
    }

    &__contact-info {
        font: {
            size: 1rem;
        }
        
        > * {
            @include grid;

            gap: 0.5rem;
            grid-template-columns: 2rem 1fr;
            grid-auto-flow: column;
        }

        > :where(:not(:first-child)) {
            margin-top: 1.5rem;
        }

        .location {
            &::before {
                content: url("../../images/icon-location.svg");
            }
        }
        
        .phone {
            &::before {
                content: url("../../images/icon-phone.svg");
            }
        }
        
        .email {
            &::before {
                content: url("../../images/icon-email.svg");
            }
        }
    }

    &__navigation {
        @include grid;

        gap: 1rem;
    }

    &__social-media {
        @include flex(column, center, center, 1rem);
    }

    .copyright {
        font: {
            size: 0.6875rem;
        }
        text-align: center;
    }
}

// Specific rules
.hero {
    @include grid;

    gap: 3rem;
    padding-top: 5.25rem;
    padding-inline: var(--spacing);
}

.card {
    --padding: 3.5rem;

    @include grid;

    gap: 3.5rem;
    padding-block: var(--padding);
    box-shadow: 0 0 1rem 0 hsl(var(--c-heading));

    img {
        padding-inline: var(--padding);
    }

    &__info {
        h2 {
            font: {
                size: var(--fs-main-heading);
            }
        }

        p {
            padding-inline: 2rem;
            margin-top: 1em;
            font: {
                size: var(--fs-main-text);
            }
        }
    }

    &__bottom {
        padding: 2.5rem 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 1rem 0 hsl(var(--c-heading));

        a {
            padding-inline: 3rem; 
            margin-top: 2.5em;
            font: {
                size: 0.625rem;
            }
        }
    }
}

.logo {
    &--header {
        width: 6.5rem;
    }

    &--footer {
        width: 10rem;
        filter: invert(100%) sepia(2%) saturate(7%) hue-rotate(323deg) brightness(104%) contrast(102%);
    }
}

.cta {
    --_c-cta: var(--c-cta);
    --_bgc-cta: var(--bgc-cta);

    padding: 0.75rem 3.75rem;
    font: {
        size: 0.75rem;
    }
    color: hsl(var(--_c-cta));
    background-color: hsl(var(--_bgc-cta));

    &--header {
        --c-cta: var(--c-heading);
        --bgc-cta: var(--bgc-cta-header);

        padding: 0.5em 2em;
        font: {
            size: 0.625rem;
        }
    }
}